.storybook-button--primary {
 
  background-color: #1ea7fd;
}
.textColor{
  color:rgb(243, 236, 236);
}
.storybook-button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}